html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
}

header {
  margin-bottom: 3rem;
  position: relative;
}

main {
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

img.cover {
  opacity: .7;
}

img.menuicon {
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  z-index: 9999;
}

h1 {
  position: absolute;
  bottom: 5%;
  right: 2%;
  color: #fff;
  margin-right: 1rem;
  font-family: "american-scribe";
  font-size: 13.5vw;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-align: right;
}

h2 {
  font-family: "mrs-eaves-roman-petite-caps";
  font-size: 2.5em;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  text-align: left;
}

p, a {
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

.mainnav-menu {
  display: none;
}

section {
  margin-bottom: 8rem;
}

section p {
  text-align: left;
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 3.5rem;
}

section a {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: #FF851B;
  text-transform: uppercase;
  display: block;
  text-align: right;
}

i {
  padding-right: .5rem;
}

section.mission {
  position: relative;
}

.bg-text {
  font-family: "mrs-eaves-roman-petite-caps";
  font-size: 12vw;
  color: #eee;
  text-align: left;
  line-height: 1.5em;
  text-align: right;
  position: fixed;
  top: 1em;
  right: .3em;
  z-index: -10;
}

footer {
  background-color: #FF851B;
  padding: 4rem 0;
}

footer p {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 6rem;
}


footer a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

a.email {
  text-transform: lowercase;
}

@media screen and (min-width: 480px) {

* {
  display: none;
}

}
