html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
}

header {
  margin-bottom: 3rem;
  position: relative;
}

main {
  width: 90%;
  margin: 0 auto;
}

section {
  margin-bottom: 8rem;
}

img {
  max-width: 100%;
}

img.cover {
  opacity: .7;
}

img.menuicon {
  position: fixed;
  top: 2.5%;
  left: 2.5%;
  z-index: 9999;
  cursor: pointer;
}

h1 {
  position: absolute;
  bottom: 5%;
  right: 2%;
  color: #fff;
  margin-right: 1rem;
  font-family: "american-scribe", serif;
  font-size: 13.5vw;
  line-height: 1.2em;
  letter-spacing: .05em;
  text-align: right;
}

h2 {
  font-family: "mrs-eaves-roman-petite-caps", serif;
  font-size: 2.5em;
  margin-bottom: 2rem;
  border-bottom: 1px solid #000;
  text-align: left;
}

i {
  padding-right: .5rem;
}

.bg-text {
  font-family: "mrs-eaves-roman-petite-caps";
  font-size: 12vw;
  color: #eee;
  text-align: left;
  line-height: 1.5em;
  text-align: right;
  position: fixed;
  top: 1em;
  right: .3em;
  z-index: -10;
}


/* Navigation (collapsed for mobile) */

.mainnav-menu {
  display: none;
}

.nav-open .menuicon {
  display: none;
}

.nav-open .mainnav-menu{
  display: block;
  background-color: HSLA(28, 100%, 55%, .95);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem 0 2rem 2rem;
  overflow-y: scroll;
}

.mainnav-menu li {
  list-style-type: none;
}

.mainnav-menu i, .mainnav-menu a {
  display: block;
  text-align: left;
  font-size: 3em;
  color: #fff;
}

.mainnav-menu i {
  margin-bottom: 2rem;
  cursor: pointer;
}

.mainnav-menu a {
  text-decoration: none;
  font-family: "mrs-eaves-roman-petite-caps", serif;
  line-height: 1.6em;
}


/*section specific styles*/

section p {
  text-align: left;
  font-size: 1.4em;
  line-height: 1.6em;
  margin-bottom: 3.5rem;
}

section a {
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: #FF851B;
  text-transform: uppercase;
  display: block;
  text-align: right;
}


/*page footer*/

footer {
  background-color: #FF851B;
  padding: 4rem 0;
}

footer p {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 6rem;
}


footer a {
  display: block;
  color: #fff;
  font-size: 1.5em;
  line-height: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

a.email {
  text-transform: lowercase;
}



/* >480px Styles */

@media screen and (min-width: 480px) {

* {
  display: none;
}

}
