html {
  box-sizing: border-box;
   }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
   }

@font-face {
  font-family: 'Jaapokki';
  src: url(../fonts/jaapokki-regular.woff);
}

body {
  font-family: 'Comfortaa', Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background: #E01795;
  position: fixed;
  top: 0;
  z-index: 9999;
}

main {
  margin: auto;
  margin-top: 70vw;
  width: 90%;
}

footer {
  height: 400px;
  background-color: #000;
  width: 100%;
  margin-top: 15rem;
  position: relative;
}




/* Header Content */
h1, i.fa-microchip {
  color: #fff;
  font-size: 2.6em;
}

i.fa-microchip {
  margin: 1rem 0 0 1rem;
}

h1 {
  font-family: 'Permanent Marker', cursive, sans-serif;
  float: right;
  margin: .5rem 1rem 0 0;
}

span.firstname {
  display: none;
}

div.desktop-navicons {
  display: none;
}




/* circuitry textures under NavBar */
.hexagon-textures {
  width: 100%;
  position: absolute;
  top: 1.8em;
  right: 0;
  z-index: -10;
}

img.hextext1, img.hextext2, img.hextext3,img.hextext1flip, img.hextext2flip {
  width: 20%;
  position: absolute;
  top: 9.5vw;
}

img.hextext2 {
  right: 60%;
}

img.hextext3 {
  right: 40%;
}

img.hextext1flip {
  right: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

img.hextext2flip {
  right: 20%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


/* Main Page Title */
article.pagetitle {
  position: relative;
  max-width: 430px;
  margin: 0 auto;
}

.pagetitle img {
  max-width: 430px;
}

h2.hexcontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive, sans-serif;
  font-size: 18vw;
  line-height: 1em;
}




/* Section Styling */
section.category {
  position: relative;
  margin: 10rem 0 20rem 0;
}

.categorylogo {
  position: absolute;
  top: 3vw;
  right: 0;
  z-index: -10;
  width: 20vw;
  max-width: 100px;
}

.category h3 {
  font-family: 'Permanent Marker', cursive, sans-serif;
  font-size: 13vw;
  margin-bottom: 3rem;
}

.category h4 {
  font-family: 'Jaapokki', Helvetica, sans-serif;
  font-size: 8vw;
  margin-top: 2rem;
}

.category p {
  font-size: 3.8vw;
  line-height: 1.8em;
}

a.categorybttn {
  text-decoration: none;
  font-family: 'Permanent Marker', cursive, sans-serif;
  font-size: 2em;
  margin-top: 3rem;
  padding: 0 1rem 0 1rem;
  float: right;
}

a.categorybttn i {
  padding-right: .5rem;
}




/* web showcase styling template - requires images be optimized in photoshop */
div.webwork {
  position: relative;
  margin-top: 6rem;
}

.webwork h3, .webwork a.categorybttn, .webwork .categorybttn i {
  color: #F808ED;
}

img.webshowcase {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.webwork a {
  color: #000;
  text-decoration: none;
}

.webwork a.categorybttn {
  border: 1px solid #F808ED;
}

.webwork a.categorybttn:hover {
  color: #fff;
  background-color: #F808ED;
}




/* Writing Work Section */
div.writingwork {
  position: relative;
  margin-top: 6rem;
}

.writingwork h3, .writingwork a.categorybttn, .writingwork .categorybttn i {
  color: #03F9DD;
}

img.writingimg {
    width: 100%;
    display: block;
    margin: auto;
}

.writingwork a {
  color: #000;
  text-decoration: none;
}

.writingwork a.categorybttn {
  border: 1px solid #03F9DD;
}

.writingwork a.categorybttn:hover {
  color: #fff;
  background-color: #03F9DD;
}




/* Photo Work Section */
div.photowork {
  position: relative;
  margin-top: 6rem;
}

.photowork h3, .photowork a.categorybttn, .photowork .categorybttn i {
  color: #06BEE1;
}

img.photoimg {
    width: 100%;
    display: block;
    margin: auto;
}

.photowork a {
  color: #000;
  text-decoration: none;
}

.photowork a.categorybttn {
  border: 1px solid #06BEE1;
}

.photowork a.categorybttn:hover {
  color: #fff;
  background-color: #06BEE1;
}




/* Games Work Section */
div.gameswork {
  position: relative;
  margin-top: 6rem;
}

.gameswork h3, .gameswork a.categorybttn, .gameswork .categorybttn i {
  color: #FEAC2B;
}

img.gamesimg {
    width: 100%;
    display: block;
    margin: auto;
}

.gameswork a {
  color: #000;
  text-decoration: none;
}

.gameswork a.categorybttn {
  border: 1px solid #FEAC2B;
}

.gameswork a.categorybttn:hover {
  color: #fff;
  background-color: #FEAC2B;
}




/* Music Work Section */
div.musicwork {
  position: relative;
  margin-top: 6rem;
}

.musicwork h3, .musicwork a.categorybttn, .musicwork .categorybttn i {
  color: #042439;
}

img.musicimg {
    width: 100%;
    display: block;
    margin: auto;
}

.musicwork a {
  color: #000;
  text-decoration: none;
}

.musicwork a.categorybttn {
  border: 1px solid #042439;
}

.musicwork a.categorybttn:hover {
  color: #fff;
  background-color: #042439;
}




/*Footer Styles*/
div.socmedia {
  text-align: center;
  padding-top: 3rem;
}

div.socmedia i {
  color: #fff;
}

i.fa-facebook-official, i.fa-linkedin-square, i.fa-instagram, i.fa-tumblr-square {
  font-size: 3.6em;
}

footer p {
  text-align: center;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.6em;
}

.footericon {
  width: 50%;
  max-width: 15rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.footertexture {
  width: 20vw;
  max-width: 6rem;
  position: absolute;
  bottom: 0;
  left: 2vw;
}

.footertextureflip {
  width: 20vw;
  max-width: 6rem;
  position: absolute;
  bottom: 0;
  right: 2vw;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.footertexturecenter {
  width: 35vw;
  max-width: 10rem;
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
}




/* 481px - 1080px styling */
@media screen and (min-width: 481px) {

header {
  width: 75px;
  height: 100%;
}

h1 {
  position: absolute;
  bottom: 6rem;
  left: -3.5rem;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari */
  transform: rotate(-90deg);
}

main {
  width: 80%;
  max-width: 700px;
  margin-top: 2rem;
  margin-left: 20%;
  padding-right: 25px;
}

div.hexagon-textures {
  display: none;
}

h2.hexcontent {
  font-size: 6em;
  padding-bottom: 1rem;
}

.categorylogo {
  top: 1rem;
}

.category h3 {
  font-size: 4em;
}

.category h4 {
  font-size: 2.5em;
}

.category p {
  font-size: 1em;
}

footer {
  height: 200px;
}

div.footmobiletextures {
  display: none;
}

div.socmedia, footer p {
  text-align: right;
  padding-right: 3rem;
}





/* <1080px styling */
@media screen and (min-width: 1080px) {

header {
  width: 15%;
  overflow: scroll;
}

main {
  margin: auto;
  margin-top: 4rem;
}

i.fa-microchip {
  display: none;
}

h1 {
  position: static;
  float: none;
  text-align: center;
  -ms-transform: none; /* IE 9 */
  -webkit-transform: none; /* Safari */
  transform: none;
  font-size: 2.5vw;
}

div.desktop-navicons {
  display: block;
  margin-top: 3rem;
}

.desktop-navicons img {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 4rem;
  cursor: crosshair;
}

}
